html {
    font-size: clamp(1rem, calc(0.7rem + 1vw), 4rem);

    h1 h2 h3 h4 h5 h6 {
        font-family: "Valley Sans", sans-serif;
    }

    a {
        font-family: "Oswald", sans-serif;
    }

    p {
        font-family: "Oswald", sans-serif;
    }
}

header {
    text-align: center;
    padding: 5vw;
}

header ul li a.log {
    color: #FBBC05;
}

header ul li a.botao {
    background-color: #FBBC05;
    color: white;
    padding: 8px 16px 8px 16px;
    display: inline-block;
    border-radius: 5vw;

}

header nav ul li {
    margin: 4px;
    font-weight: 600;
    padding: 2vw 0 2vw 0;
}

section.bnr {
    background: url(../images/background-banner.png) no-repeat;
    /* nao repetir a imagem de fundo*/
    background-size: 100% 100%;
    /* preencher todo o espaço */
    padding: 3vw 5vw 3vw 5vw;
    margin-top: 6vw;
}

section.bnr div.img {
    display: none;
}

section.bnr h2 {
    font-size: 2.8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: 600;
    color: #252B42;
    margin-top: 4vw;
}

section.bnr p {
    font-size: 0.9rem;
    color: #737373;
    text-align: center;
    margin-top: 20px;
}

section.bnr p a {
    background-color: #252B42;
    display: flex;
    color: white;
    align-items: center;
    padding: 3vw 6vw 3vw 6vw;
    font-size: 0.8rem;
    border-radius: 15px;
    gap: 3vw;
    justify-content: space-between;
    margin: 0 5vw 0 0;
}

section.bnr p.btns {
    display: flex;
    margin-top: 20px;
    margin: 5vw 5vw 0 5vw;
}

section.bnr p.btns img {
    height: 50%;
}

.ready {
    text-align: center;
    margin: 6vw 5vw 6vw 5vw;
}

.ready div.img {
    display: none;
    /* ocutar a imagem*/
}

section.ready h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: 550;
    margin: 0 0 3vw 0;
    color: #252B42;

}

.ready p {
    color: gray;
    font-size: 0.8rem;
    margin: 0 0 8vw 0;
}

.ready div.lista ul li h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 550;
}

.download {
    text-align: center;
    background-color: #FBBC05;
    padding: 20vw 15vw 20vw 15vw;
    border-radius: 10px;
    color: white;
    margin: 3vw 5vw 3vw 5vw;
}

.download h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    font-weight: 550;
    margin: 3vw 0 3vw 0;
}
.download a{
    background-color: #252B42;
    border-radius: 7px;
    padding: 4vw 6vw 4vw 6vw;
    color: white;
    margin-top: 6vw;
}

/* ===== BOTSTRAP -==== */
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
    header nav {
        display: flex;
        justify-content: space-between;
    }

    header nav ul {
        display: flex;
        gap: 20px;
        align-items: center;
        font-size: 17px;

    }

    header {
        padding: 2vw 5vw 2vw 5vw;
    }

    section.bnr {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    section.bnr div.img {
        display: block;
        /* fazer a imagem reaparecer*/
    }

    section.bnr h2 {
        font-size: 2.3rem;
        text-align: left;
    }

    section.bnr p.btns a {
        padding: 10px 30px 10px 30px;
        text-align: center;
        gap: 10px;
    }

    section.bnr p {
        font-size: 1.2rem;
        text-align: left;
    }

    section.bnr p.btns img {
        width: 70%;
    }

    .ready>p {
        padding: 0 30% 0 30%;
        /* > = filho direto , para cair a linha*/
    }

    .ready div.img {
        display: block;
    }

    .ready>div {
        display: flex;
        justify-content: center;
        gap: 10vw;
    }

    .ready div.lista ul {
        display: flex;
        flex-wrap: wrap;
        /* qunado acabar o espaço disponivel a linha vai cair*/
        gap: 20px;
        width: 40vw;


    }

    .ready div.lista ul li {
        width: 40%;
        /* para nao ocupar todo o espaço disponivel*/
    }
    .download {
        padding: 3vw 3vw 3vw 3vw;
        
    }
    .download p{
        width: 20%;
    }
}